/* Reset and global styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: white;
  color: var(--text-color);
  /* transform: scale(0.9); */
  /* transform-origin: top center; */

}



/* Header styles */
.App-header {
  width: 100vw;
  height: 15vh;
  position: relative;
  overflow: hidden;
}

.header-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer styles */
.App-footer {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 10%;
  padding: 10px;
  height: var(--footer-height);
  width: 100%;
}

/* Chart container styles */
.chart-container {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  border: 0.5px solid #aaa
}

/* App body layout */
.App-body {
  display: flex;
  flex-direction: row;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

/* App wrapper layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Reset and global styles */
/* ... Your existing reset and global styles ... */



/* Individual tab items */
.nav-item {
  padding: none;
  margin-bottom: -1px;

  /* Negative margin for border overlap */
}

/* Individual tab links */
.nav-link {
  font-weight: bold;
  background-color: #f8f9fa;
  /* Non-active tab background */
  border: 1px solid #dee2e6;
  border-bottom: none;
  /* Border matching the container */
  margin-right: -1px;
  /* Overlap borders between tabs */
  padding: none;
  /* Tab padding */
}

/* Active tab link */
.nav-link.active {
  background-color: #F1E5AC;
  /* Active tab background */
  border-color: #dee2e6 #dee2e6 #fff;
  /* Border color, bottom border transparent */
  border-bottom: 2px solid #fff;
  /* Active tab bottom border to "merge" with content */
  padding: 0rem;
}






/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-link {
    padding: 0rem, 0.5rem;
    /* Smaller padding for mobile */
  }
}

/* Additional adjustments for visual polish */
.nav-tabs {
  justify-content: center;
  padding-bottom: 0rem;
  /* Center tabs if desired */
}

.nav-tabs.nav-link {
  padding: none;
}

.nav.nav-tabs.card-header-tabs {
  padding-bottom: 0rem;
}

/* Ensure that the tabs container sticks to the tabs */
.tabbed-header {
  padding: 0;
  margin-bottom: -1px;
  margin-top: -2%;
  /* Pull the tabs container up to meet the tabs */
  padding-bottom: 0rem;
}

/* If there are additional containers like .tabbed-card, they should not interfere with the tab layout */
.tabbed-card {
  border: none;
  /* Remove additional borders that may cause visual issues */
}

.page-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

}

.data-body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;


}

.container-xl {
  max-width: 100%;
}

.col-4 {
  flex: 0 0 50%;
  margin-right: -3%;
  margin-left: -3%;
  margin-bottom: -4%;
}

.full-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-dashboard-iframe {
  width: 100%;
  height: 125vh;
  border: none;
  transform-origin: top-center;
  margin-top: -7.5%;
  padding:none;
}

iframe {
  height: 535px;
  width: 810px;
  border: 1px solid gray;
  transform: scale(.8);
  transform-origin: center center;
  margin-top: -5%;
  margin-bottom: 5%;
  padding-top: 0;
}

/* Responsive adjustments for the .row-deck if necessary */
@media (max-width: 768px) {
  .row-deck {
    /* Adjust flex settings for mobile view */
    flex-direction: row;
  }
}